@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: #cacaca;
  border-bottom: 1px solid #333;
  padding: 20px 0;
}

.menu {
  display: flex;
}
.menu__item {
  margin-right: 30px;
}

footer {
  background: #cacaca;
  border-top: 1px solid #333;
  padding: 20px 0;
}