.tasks__block {
  width: 300px;
  background: #f6f6f6; }

.tasks__item {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 10px 25px; }

.item__header {
  display: flex; }

.task__status-icon {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 5px; }

.task__status-icon.s0 {
  background: #adadad; }

.task__status-icon.s1 {
  background: #02a32a; }

.task__status-icon.s2 {
  background: #240ee6; }

.task__id {
  color: #3f7ddb;
  font-weight: 600; }

.item__name {
  margin-top: 5px;
  color: #333; }
