.team-block {

    margin-top: 5%;
}

.team-section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.team-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team__member {
    margin-bottom: 40px;
}