.tasks__block {
  background: #f6f6f6;
  padding: 30px; }

.tasks__item {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 20px 25px; }

.tasks__item:last-child {
  border-bottom: 0; }

.item__header {
  display: flex;
  align-items: center; }

.item__status, .item__type {
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: rgba(63, 125, 219, 0.8); }

.item__priority-icon {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 5px; }

.item__priority-icon.p0,
.item__priority-icon.p1 {
  background: #c9c9c9; }

.item__priority-icon.p2 {
  background: #f0ec00; }

.item__priority-icon.p3 {
  background: #f32c2c; }

.item__priority-icon.p4 {
  background: #990000; }

.item__number {
  font-size: 1.25em;
  color: #3f7ddb;
  font-weight: 600; }

.item__name {
  color: #4d5169;
  font-size: 1.25em;
  font-weight: 600;
  margin-left: 20px; }

.item__description {
  color: #333; }

.item__state {
  display: flex;
  align-items: center;
  margin: 15px 0; }
  .item__state span {
    margin-right: 15px; }

.filter__block {
  width: 100%; }

.tasks__block {
  width: 80%; }

.buttons__block {
  width: 20%; }
  .buttons__block button {
    float: right; }

.grid__item.grid__item-btns {
  display: flex;
  justify-content: flex-end; }
