/* .authorization-form {
    width: 50%;
    margin: 0 auto; }
  
  .authorization-form__field {
    padding: 20px 0;
    display: flex;
    justify-content: center; }
    .authorization-form__field input {
      background: transparent;
      border-bottom: 1px solid #333;
      width: 100%;
      padding-bottom: 5px;
      font-size: 1.125em; }
    .authorization-form__field button {
      padding: 12px 30px;
      background: #000;
      color: #fff; } */
  