<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="" />
	<meta name="viewport"
		  content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
	<meta name="theme-color" content="#000000" />
	@*<link href="~/react-dev/components/Task/task.css" rel="stylesheet" />
	<link href="~/react-dev/components/Tasks/tasks.css" rel="stylesheet" />
	<link href="~/react-dev/components/Team/team.css" rel="stylesheet" />
	<link href="~/react-dev/components/Profile/profile.css" rel="stylesheet" />*@
	@*<link href="~/react-dev/components/Layout/App.css" rel="stylesheet" />*@
	@*<link href="~/react-dev/components/Authorization/authorization.css" rel="stylesheet" />*@
	@RenderSection("PreLoadSection", required: false)
</head>
<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root">@RenderBody()</div>

	@*<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
	<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
	
	<script src="~/index.jsx"></script>
	<script src="~/components/App.jsx"></script>
	<script src="~/components/Header/index.jsx"></script>
	<script src="~/components/Footer/index.jsx"></script>*@
	<script src="/dist/bundle.js"></script>
	<script src="/dist/components.bundle.js"></script>
	<script src="/dist/main.bundle.js"></script>
	<script src="/dist/vendor.bundle.js"></script>
	
	@RenderSection("PostLoadSection", required: false)

</body>
</html>
